body {
    background-color: #FBFCFE;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 32px;
    color: #36536B;
    text-align: center;
}

.nav-bar {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 48px;
}

.burger-menu a {
    list-style-type: none;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #36536B;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.burger-menu li {
    list-style-type: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between
}


.hero-container {
    margin: 0 auto;
    margin-bottom: 75px;
    width: 90%;
}

.hero-container p {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    color: #6C8294;
    padding-bottom: 78px;
    text-align: center;
}

.img-phone {
    margin-left: auto;
    margin-right: auto;
}

.contact {
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

.email {
    width: 100%;
    border-style: none;
    border-radius: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-cta {
    font-family: "Public Sans", sans-serif;
    border-radius: 24px;
    background-color: #BA4270;
    border-style: none;
    color: #FBFCFE;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
}


.form-email {
    padding-bottom: 16px;
}

.partners {
    background: #1B262F;
    padding-top: 80px;
    padding-bottom: 80px;
}

.logo-partners {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.about-us-link {
    display: inline-block;
}


@media screen and (min-width: 320px) {
    .burger-menu {
        display: none;
    }

    .cta {
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .caption-partners {
        margin: 0 auto;
        width: 90%;
    }

    .partners h2 {
        font-family: "DM Serif Display", serif;
        font-size: 32px;
        font-weight: lighter;
        color: #FBFCFE;
    }

    .partners p {
        font-family: "Public Sans", sans-serif;
        font-size: 16px;
        color: #FBFCFE;
        opacity: 50%;
    }

    .partners a {
        font-family: "Public Sans", sans-serif;
        color: #FBFCFE;
        text-decoration: none;
        border-radius: 24px;
        padding-top: 16px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 16px;
        border: 2px solid white;
    }

    .img-partners {
        display: flex;
        flex-direction: column;
    }

    .logo-partners {
        display: flex;
        flex-direction: row;
        justify-content: center
    }


}


@media screen and (min-width: 768px) {

    h1 {
        font-size: 48px;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }

    .nav-menu {
        width: 90%;
    }

    .burger-menu {
        gap: 40px;
        display: flex;
        flex-direction: row;
        margin-right: auto;

    }

    .nav-burger {
        display: none;
    }

    .img-phone {
        height: 500px;
    }

    .cta {
        font-family: "Public Sans", sans-serif;
        display: flex;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #BA4270;
        border-radius: 24px;
        color: #FBFCFE;
        text-decoration: none;
    }

    form {
        position: relative;
    }


    .form-send {
    }

    .form-cta {
        position: absolute;
        right: 0;
        width: unset;
        top: 0px;
    }


}

@media screen and (min-width: 1024px) {
    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1100px;
    }

    .nav-bar {
        max-width: 1100px;
        justify-content: space-between;
    }

    .nav-menu {
        width: 100%;
    }
    
    .hero-caption {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40%;
    }

    .hero-caption h1 {
        text-align: left;
    }

    .img-phone {
        margin-right: unset;
    }
}