body {
    min-width: 320px;
    min-height: 768px;
}

h1 {
    font-family: "DM Serif Display", serif;

}

.nav-bar {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}
.burger-menu {
    list-style-type: none;
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    color: #FBFCFE;
    display: flex;
    flex-direction: column;
    text-decoration: none;   
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between
}


.hero-container {
    margin: 0 auto;
    width: 327px;
}

.hero-container p {
    font-family: "Public Sans", sans-serif;
    font-size: 16px ;
    color: #6C8294;
}

.contact {
    font-weight: bold;
    text-decoration: none;
    color: grey;
}

@media screen and (min-width: 768px ) {
    .nav-bar {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .burger-menu {
        display: flex;
        flex-direction: row;
    }

    .cta {
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        background-color: #BA4270;
        border-radius: 24px;
        color:#FBFCFE;
        text-decoration: none;
    }

}


@media screen and (min-width: 1024px) {
    .nav-bar {
        max-width: 1100px;

    }
}